{% for item in data %}
<option value="{{ item.id }}" data-start="{{ item.start }}">{{item.user_day_of_week}} {{ item.start }} - {{item.user_day_of_week_end}} {{ item.end }} {{item.client_name}}</option>
{% endfor %}