<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VA Client {% block title %}{% endblock %} [v{{ appVer }}]</title>
    {% block viewstyle %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ resPath }}/assets/styles/spinner.css" />
    <link rel="stylesheet" type="text/css" href="{{ resPath }}/assets/styles/theme.css" />
    <script defer src="{{ resPath }}/assets/scripts/fontawesome-all.min.js"></script>
  </head>
  <body>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    {% block viewscript %}{% endblock %}
    <script type="text/javascript" src="{{ resPath }}/assets/scripts/va.js"></script>
  </body>
</html>
